.header {
  padding: 20px;
  display: flex;
  background: #c268c2;
  color: white;
  font-size: 20px;
  width: 1500px;
}
.shop {
  position: absolute;
  top: 11%;
  left: 40%;
  color: rgb(216, 216, 236);
}
.home {
  position: absolute;
  top: 11%;
  left: 30%;
  color: rgb(217, 217, 233);
}
