.image {
  border: 1px solid #ddd;
  border-radius: 4px;

  margin-left: 20px;
  width: 20%;
  padding: 15px;
}
.add {
  color: white;
  background-color: #378de5;
  height: 30px;
  width: 70px;
}
.delete {
  color: white;
  background-color: #999900;
  height: 30px;
  width: 70px;
}
.btn {
  display: flex;
  margin: 5px;
}
.books {
  float: left;
}
.homepage {
  color: green;
  text-align: center;
}
.lb {
  color: green;
  padding-right: 10px;
  padding-left: 10px;
}
